synthetic_surf_results_90_degree.e filter=lfs diff=lfs merge=lfs -text
synthetic_surf_results_0_degree.e filter=lfs diff=lfs merge=lfs -text
synthetic_surf_results_45_degree.e filter=lfs diff=lfs merge=lfs -text
