.env
.idea
.vscode
*.pyc
__pycache__
failed_unit_tests.txt
.project
.pydevproject
latex/*
html/*
LearningFiles/*
*.log
references/*
*.e
*.e.*
*.nem
*.pex
*user_settings.py
.settings/*
matcal_aprepro_reference.inc
*.out
*.in
*workdir*
*.serialized
*.doctree
*.spyproject/
test*test*
GITCLEAN/*
scrap
*timings.txt
*__pycache__*
